{
    "projects": {
        "evmgastracker.com": {
            "path": "/var/www/evmgastracker.com",
            "deployScript": "./deploy/evm-gas-tracker.sh",
            "branch": "master"
        },
        "webhook-listener": {
            "path": "/home/pm2/webhook-listener",
            "deployScript": "./deploy/webhook-listener.sh",
            "branch": "master"
        }
    }
}
